<!--   First block Start   -->

<div class="slide">
<meta charset="utf-8">
<title>6-1-7 複数画像を中央に注目させて見せる</title>


<meta name="viewport" content="width=device-width,initial-scale=1.0">
<!--==============レイアウトを制御する独自のCSSを読み込み===============-->
<link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/reset.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-1-7/css/6-1-7.css">



<ul class="slider">
<li><img src='<%= asset_path('u-neru1.jpg') %>'width="350" heigh="100"/></li>
<li><img src='<%= asset_path('u-neru2.jpg') %>'width="350" heigh="100"/></li>
<li><img src='<%= asset_path('u-neru3.jpg') %>'width="350" heigh="100"/></li>
<li><img src='<%= asset_path('u-neru4.jpg') %>'width="350" heigh="100"/></li>
<li><img src='<%= asset_path('u-neru5.jpg') %>'width="350" heigh="100"/></li>
<li><img src='<%= asset_path('u-neru6.jpg') %>'width="350" heigh="100"/></li>


<!--/slider--></ul>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-1-7/js/6-1-7.js"></script>

</div>


<section id="first-block">
  <div class="title-container">
    <h3>~ 限界突破 ~</h3>
  </div>
</section>


<section id="second-block">
  <p class="info-title">
      About me
  </p><%= link_to "新規投稿ページへ", new_tweet_path %>
  <div class="about-container">
    <p class="info-text">
    <a href="tops/huro">
    <img src='<%= asset_path('u-neru6.jpg') %>'width="350" heigh="100"/>
    </a>
    </p>

    <p class="info-text">
    <a href="tops/sauna">
    <img src='<%= asset_path('u-neru8.jpg') %>'width="350" heigh="100"/>
    </a>    
    </p>

    <p class="info-text">
    <a href="tops/meals">
    <img src='<%= asset_path('u-neru13.jpg') %>'width="350" heigh="100"/>
    </a>    
    </p>
  </div>
</section>
<!--   Second block End   -->
<!--   Third block Start   -->
<section id="third-block">
  <p class="events-title">
    Recent Events
  </p>
  <div class="event-container">
    <div class="event">
    <img src='<%= asset_path('u-neru2.jpg') %>'width="350" heigh="100"  class="event-image" />
          <p class="event-name">
        <span>源泉かけ流し温泉</span>
        <br>
        <br>
        地下2000mからくみ上げた<br>
        ミネラル豊富な天然温泉を<br>
        贅沢にかけ流ししています。<br>
      
      </p>
    </div>
    <div class="event">
      <p class="event-name">
        <span>サウナ</span>
        <br>
        <br>
        流行りのサウナも楽しめます。<br>
        オートロウリュもある本格サウナです。<br>
        毎週月・金曜日は、スタッフによるアウフグースも開催！<br>
        サウナ室の設定温度は100℃に<br>
        アツアツのサウナ室をお楽しみください！
      </p>
      <img src='<%= asset_path('u-neru7.jpg') %>'width="350" heigh="100"  class="event-image" />
    </div>
  </div>
</section>
<!--   Third block End   -->
